[submodule "nvim/base16/shell"]
	path = nvim/base16/shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "nvim/base16/vim"]
	path = nvim/base16/vim
	url = git@github.com:chriskempson/base16-vim.git
