[submodule "nvim/base16/shell"]
	path = nvim/base16/shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "nvim/base16/nvim"]
	path = nvim/base16/nvim
	url = git@github.com:bradcush/nvim-base16.git
