[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=false
Exec=/home/funnyboy_roks/Documents/Programs/clock
Name=Clock
Comment=Clock
