[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=false
Exec=/home/funnyboy_roks/Documents/Programs/GDLauncher.AppImage
Name=GDLauncher
Comment=GDLauncher
